.login-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #152850;
}
.login-card-container {
  display: flex;
  align-items: stretch;
  background-color: #e0eefe;
  border-radius: 25px;
  max-width: 1100px;
}
.website-login-image-container {
  flex-grow: 1;
  padding: 40px 20px;
}
.website-login-image {
  width: 100%;
}
.login-form-container {
  background-color: #fff;
  border-radius: 25px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}
.login-form-heading {
  font-size: 48px;
  color: #183b56;
}
.login-form {
  display: flex;
  flex-direction: column;
}
.input-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 25px;
}
.custom-label {
  color: #5a7184;
  font-size: 20px;
  font-weight: 600;
}

.custom-input {
  border: 1px solid #c3cad9;
  padding: 20px 16px;
  border-radius: 10px;
  outline: none;
  font-family: inherit;
  color: #c3cad9;
  font-size: 16px;
}
.login-btn {
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  background-color: #1565d8;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  font-weight: 600;
  font-size: 18px;
}
.error-message {
  text-align: center;
  color: #ff0b37;
}
